.upload {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #00642d;
    color: white;
    background: #00642d;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.26); */
    cursor: pointer;
  }
  
  .upload:focus {
    outline: none;
  }
  
  .upload:hover{
    background: #118545;
    border-color: #118545;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  }

.signIn,.signUp {
  font: inherit;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  color: #118545;
  outline: none;
  cursor: pointer;
  background: transparent;
  border: none;
}
.signUp:hover,.signIn:hover{
  color: #ff0000;
}
  